/* ==========================================
   HOME VIDEOS
========================================== */

.home-videos{

    padding:35px 0 70px;

}

/* ==========================================
   TÍTULO
========================================== */

.home-videos .section-title{

    font-size:42px;

    font-weight:700;

    margin-bottom:18px;

    text-align:center;

}

/* ==========================================
   ÁREA DA BUSCA
========================================== */

.home-videos .search-box{

    margin:0 auto 20px;

    max-width:720px;

}

/* ==========================================
   GRADE DE VÍDEOS
========================================== */

.home-videos .video-grid{

    margin-top:0;

}